html {
  background-color: #1e2126;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.message {
  text-align: center;
}

.logo {
  filter: brightness(75%);
  margin-bottom: -3%;
}

.title-container {
  color: #1e2126;
  padding: 10px;
  margin: 15px;
  font-family: "Fira Code", monospace;
  background: linear-gradient(125deg, #11ae91 0%, #a6883a 100%);
}

.title {
  margin: 0;
}

.links {
  font-family: "Fira Sans", sans-serif;
  color: #c3c3c3;
}
