html {
  background-color: #1e2126;
  height: 100%;
}

body {
  font-family: "Fira Code", monospace;
  height: 100%;
  background-size: 30px 30px;
  background-image: radial-gradient(
    circle,
    #c3c3c319 1px,
    rgba(0, 0, 0, 0) 1px
  );
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.message {
  text-align: center;
}

.logo {
  filter: brightness(75%);
  margin-bottom: -3%;
}
.title-container {
  color: #1e2126;
  font-weight: lighter;
  padding: 10px;
  margin: 15px;
  background: linear-gradient(125deg, #11ae91 0%, #a6883a 100%);
  transition: all 0.2s;
}

.title-container:hover,
.title-container:focus {
  font-size: 105%;
  border-radius: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border: 3px solid #c3c3c3;
}

.title {
  margin: 0;
  font-weight: lighter;
}

.links {
  font-family: "Fira Sans", sans-serif;
  color: #c3c3c3;
}
